<div id="post_favorite_btn_<%= post.id %>">
  <% if member_signed_in? %>
    <% if post.post_favorited_by?(current_member) %>
      <%= link_to post_post_favorites_path(post), method: :delete, remote: true, data: {"turbolinks" => false} do %>
        <i class="fas fa-heart" aria-hidden="true" style="color: red;"></i>
        <%= post.post_favorites.count %> いいね
      <% end %>
    <% else %>
      <%= link_to post_post_favorites_path(post), method: :post, remote: true, data: {"turbolinks" => false} do %>
        <i class="fas fa-heart" aria-hidden="true"></i>
        <%= post.post_favorites.count %> いいね
      <% end %>
    <% end %>
  <% else %>
    <%= link_to post_post_favorites_path(post), method: :post, remote: true, data: {"turbolinks" => false} do %>
      <i class="fas fa-heart" aria-hidden="true"></i>
      <%= post.post_favorites.count %> いいね
    <% end %>
  <% end %>
</div>