<div id="post_comment_<%= post.id %>">
  <p>コメント件数：<span id="comment_count"><%= post.post_comments.count %></span></p>
  <div class="container">
    <% post.post_comments.each do |post_comment| %>
    <% if post_comment.member.is_deleted == false %>
    <div class="card">
      <div class="row">
        <% if post_comment.member.icon_image.attached? %>
          <div>
            <%= link_to member_path(post_comment.member) do  %>
              <%= image_tag post_comment.member.icon_image, size: "20x20" %>
            <% end %>
          </div>
        <% else %>
          <div>
            <%= link_to member_path(post_comment.member) do  %>
              <%= image_tag 'sengoku_busyou_shiki.png', size: "20x20" %>
            <% end %>
          </div>
        <% end %>
        <div>
          <%= link_to member_path(post_comment.member) do  %>
            <%= post_comment.member.nick_name %>
          <% end %>
        </div>
      </div>
      <div>
        <%= link_to post_comment_path(post_comment) do %>
          <%= post_comment.comment %>
        <% end %>
      </div>
      <div class="row">
        <div class="col">
          <%= post_comment.created_at.strftime('%Y/%m/%d') %>
        </div>
        <% if post_comment.member == current_member %>
          <div class="col">
            <%= link_to "コメントを削除" , post_post_comment_path(post, post_comment), class: "btn btn-sm btn-danger", method: :delete, remote:true, data: {"turbolinks" => false} %>
          </div>
        <% end %>
      </div>
    </div>
    <% end %>
    <% end %>
  </div>
</div>
