<% shiros.each do |shiro| %>
  <div>
    <div>
      <% if shiro.images.attached? %>
        <% shiro.images.each do |image| %>
          <%= image_tag image, class: "object-fit-cover", size: "200x200" %>
        <% end %>
      <% else %>
        <%= image_tag asset_path("nagoyajou.png"), size: "200x200" %>
      <% end %>
    </div>
    <div>城名</div>
    <div>
      <%= link_to shiro.name, shiro_path(shiro.id) %>
    </div>
    <div>城詳細</div>
    <div>
      <%= shiro.detail %>
    </div>
    <div>城住所情報</div>
    <div>
      <%= shiro.address %>
    </div>
    <%= render 'public/shared/shiro_favorite_btn', shiro: shiro %>
  </div>
<% end %>