<div class="container p-3">
  <div class="row">
    <div class="col-12">
      <% if @post.errors.any? %>
         <%= @post.errors.count %>件のエラーが発生しました
          <ul>
            <% @post.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
      <% end %>
      <%= form_with model: @post, "data-turbolinks": false do |f| %>
      <h3>投稿編集</h3>
      <div class="row">
        <div class="col-3">画像</div>
        <div class="col-6">
          <%= f.file_field :images, accpet: "image/", multiple: true %>
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-3">コメント</div>
        <div class="col-6">
          <%= f.text_area :post_text, size: "60x5" %>
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-3">タグ</div>
        <div class="col-6">
          <%= f.text_field :name, value: @tag_list, size: 15 %>
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-3">
          <%= f.label :draft_status, "投稿を公開する" %>
          <%= f.check_box :draft_status, checked: true %>
        </div>
      </div>
      <div class="row">
        <div class="col-4"></div>
        <div class="col-4 mt-3">
          <%= f.submit '変更を保存', class: "btn btn-success" %>
        </div>
      <% end %>
        <div class="col-4 mt-3">
          <%#= link_to "投稿を削除", post_delet_post_path(@post.id), class: "btn btn-danger", data: { confirm: '投稿を削除しますか？'} %>
        </div>
      </div>
    </div>
  </div>
</div>
