<div class="container p-3">
  <div class="row">
  <div class="col-12">
    
    <%= form_with model: @post, "data-turbolinks": false do |f| %>
    <h3>新規投稿</h3>
      <%#= render "public/shared/error_messages", resource: resource %>
      <div>画像</div>
      <div>
        <%= f.file_field :images, accpet: "image/", multiple: true %>
      </div>
      <div>コメント</div>
      <div>
        <%= f.text_area :post_text %>
      </div>
      <div class="row">
          <div class="col-3">公開設定</div>
          <div class="col-6">
            <%= f.radio_button :display_status, :true, checked: true, class: "mt-2"  %>
            <%= f.label :display_status, "公開" %>
            <%= f.radio_button :display_status, :false %>
            <%= f.label :display_status, "非公開" %>
          </div>
        </div>
      <div>タグ</div>
      <div>
        <%= f.text_field :name, value: @tag_list %>
      </div>

      <div>
        <%= f.submit '投稿する' %>
      </div>
      <% end %>
      <div>
        <%= link_to posts_draft_index_member_path(current_member) do %>
          <buttun class="btn btn-success">下書き一覧を見る</buttun>
        <% end %>
      </div>

  </div>
</div>
</div>
