<div class="container p-3">
  <div class="row">
  <div class="col-12">
    <div>画像</div>
    <div>
      <%= image_tag @post.image, size: "200x200" %>
    </div>
    <div>コメント</div>
    <div>
      <%= @post.post_text %>
    </div>
    <div>
      <% @post_tags.each do |tag| %>
      <i class="fa-sharp fa-solid fa-tag"></i>
        <%= link_to tag.name,searches_search_tag_index_path(tag_id: tag.id) %>
      <% end %>

    </div>
    <div>
      <% if member_signed_in? %>
        <% if @post.post_favorited_by?(current_member) %>
          <%= link_to post_post_favorites_path(@post), method: :delete do %>
            <i class="fas fa-heart" aria-hidden="true" style="color: red;"></i>
            <%= @post.post_favorites.count %> いいね
          <% end %>
        <% else %>
          <%= link_to post_post_favorites_path(@post), method: :post do %>
            <i class="fas fa-heart" aria-hidden="true"></i>
            <%= @post.post_favorites.count %> いいね
          <% end %>
        <% end %>
      <% else %>
        <%= link_to post_post_favorites_path(@post), method: :post do %>
            <i class="fas fa-heart" aria-hidden="true"></i>
            <%= @post.post_favorites.count %> いいね
          <% end %>
        <% end %>
    </div>
    <div>
      <% if @post.member_id == current_member.id %>
        <%= link_to edit_post_path(@post.id) do %>
          <buttun class="btn btn-success">編集する</buttun>
        <% end %>
      <% end %>
    </div>
    <div>
      <p>コメント件数：<%= @post.post_comments.count %></p>
        <% @post.post_comments.each do |post_comment| %>
          <p><%#= image_tag post_comment.member.get_profile_image(100,100) %></p>
          <%= post_comment.member.nick_name %>
          <%= post_comment.created_at.strftime('%Y/%m/%d') %>
          <%= link_to post_comment_path(post_comment) do %>
           <%= post_comment.comment %>
          <% end %>
        <% end %>
    </div>
    <div>
      <%= form_with model: [@post, @post_comment] do |f| %>
        <%= f.text_area :comment, rows: '5', placeholder: "コメントをここに" %>
        <%= f.submit "送信する" %>
      <% end %>
    </div>

  </div>
</div>
</div>
