<div class="container p-3">
  <div class="row">
    <div class="col-12">
      <div>
        <% if @post.images.attached? %>
          <% @post.images.each do |image| %>
            <%= image_tag image, class: "object-fit-cover", size: "200x200" %>
          <% end %>
        <% end %>
      </div>
      <div class="row">
        <div>
          <% if @post.member.icon_image.attached? %>
            <p><%= image_tag @post.member.icon_image, size: "20x20" %></p>
          <% else %>
            <P><%= image_tag 'sengoku_busyou_shiki.png', size: "20x20" %></P>
          <% end %>
        </div>
        <div>
          <% if member_signed_in? %>
            <% if current_member == @post.member %>
              <%= link_to @post.member.nick_name, mypage_path %>
            <% else %>
              <%= link_to @post.member.nick_name, member_path(@post.member.id) %>
            <% end %>
          <% else %>
            <%= link_to @post.member.nick_name, member_path(@post.member.id) %>
          <% end %>
        </div>
      </div>
      <div class="row">
        <div class="col-9">
          <%= @post.post_text %>
        </div>
        <div class="col-3">
          <% if member_signed_in? %>
            <% if @post.member_id == current_member.id %>
              <%= link_to edit_post_path(@post.id) do %>
                <buttun class="btn btn-info">投稿を編集する</buttun>
              <% end %>
            <% end %>
          <% end %>
        </div>
      </div>
      <div>
        <% if member_signed_in? %>
        <% @post_tags.each do |tag| %>
        <i class="fa-sharp fa-solid fa-tag"></i>
          <%= link_to tag.name,searches_search_tag_index_path(tag_id: tag.id) %>
        <% end %>
        <% end %>
      </div>
      <%= render 'public/shared/favorite_btn', post: @post %>
      <%= render 'public/shared/post_comment', post: @post %>
      <%= render 'public/shared/post_comment_form', post: @post, post_comment: @post_comment %>
    </div>
  </div>
</div>
