
<div class="container p-3">
  <div class="row">
    <div class="col-12">
      <%= form_with model: @member, url: admin_member_path(@member.id), "data-turbolinks": false do |f| %>
    <h3><%= @member.nick_name %>さんの会員情報編集</h3>
    <div class="row">
      <div class="col-3">会員ID：</div>
      <div class="col-6">
        <%= @member.id %>
      </div>
    </div>
    <div class="row mt-1">
      <div class="col-3">ニックネーム：</div>
      <div class="col-6">
        <%= f.text_field :nick_name, size: 30 %>
      </div>

    </div>
    <div class="row mt-1">
      <div class="col-3">メールアドレス：</div>
      <div class="col-6">
        <%= f.text_field :email, size: 30 %>
      </div>
    </div>
    <div class="row mt-1">
      <div class="col-3">プロフィール：</div>
      <div class="col-6">
        <%= f.text_area :profile, size: "50x5" %>
      </div>
    </div>

    <div class="row mt-1">
      <div class="col-3">退会ステータス：</div>
      <div class="col-6">
        <%= f.radio_button :is_deleted, :false, checked: true, class: "mt-2"  %>
        <%= f.label :is_deleted_false, "有効" %>
        <%= f.radio_button :is_deleted, :true %>
        <%= f.label :is_deleted_true, "退会" %>
      </div>
      <div class="col-3">
        <%= f.submit '変更を保存', class: "btn btn-success" %>
      </div>
    </div>
    <% end %>
    </div>
  </div>
</div>