<div class="container p-3">
  <div class="row">
    <div class="col-12">
      <div class="row">
        <div class="col-9">
          <div>
            <% if @member.icon_image.attached? %>
              <p><%= image_tag @member.icon_image, class: "rounded-circle border border-secondary", size: "100x100" %></p>
            <% else %>
              <P><%= image_tag 'sengoku_busyou_shiki.png', class: "rounded-circle border border-secondary", size: "100x100" %></P>
            <% end %>
          </div>
          <div class="row">
            <div class="col-3">会員ID：</div>
            <div class="col-3">
              <%= @member.id %>
            </div>
          </div>
          <div class="row mt-1">
            <div class="col-3">ニックネーム：</div>
            <div class="col-3">
              <%= @member.nick_name %>
            </div>
          </div>
          <div class="row mt-1">
            <div class="col-3">メールアドレス：</div>
            <div class="col-3">
              <%= @member.email %>
            </div>
          </div>
          <div class="row mt-1">
            <div class="col-3">プロフィール：</div>
            <div class="col-3">
              <%= @member.profile %>
            </div>
          </div>

          <div class="row mt-1">
            <div class="col-3">ステータス：</div>
            <div class="col-3">
              <% if @member.is_deleted == true %>
                <b class="text-secondary">退会</b>
              <% else %>
                <b class="text-success">有効</b>
              <% end %>
            </div>
          </div>
        </div>
        <div class="col-3">
            <%= link_to edit_admin_member_path(@member) do %>
              <buttun class="btn btn-success">編集する</buttun>
            <% end %>
        </div>
        <%= render 'members_bar' %>
      </div>
    </div>
  </div>
</div>