<div class="col-12">
  <% messages.each do |m| %>
    <div class="row card">
      <% if m.member == current_member %>
      <div class="justify-content-end container">
        <div class="card text-center col-4">
          <strong><%= m.message %></strong>
        </div>
        <div class="col-4 text-right">
          <div class="mt-2 ms-1 text-right">
            <% if m.member.icon_image.attached? %>
              <p><%= image_tag m.member.icon_image, class: "rounded-circle border border-secondary", size: "40x40" %></p>
            <% else %>
              <P><%= image_tag 'sengoku_busyou_shiki.png', class: "rounded-circle border border-secondary", size: "40x40" %></P>
            <% end %>
          </div>
          <div><%= m.member.nick_name %></div>
        </div>
      </div>
      <% else %>
      <div class="text-left container">
        <div class="card text-center col-4">
          <strong><%= m.message %></strong>
        </div>
        <div>
          <div class="mt-2 ms-1">
            <% if m.member.icon_image.attached? %>
              <p><%= image_tag m.member.icon_image, class: "rounded-circle border border-secondary", size: "40x40" %></p>
            <% else %>
              <P><%= image_tag 'sengoku_busyou_shiki.png', class: "rounded-circle border border-secondary", size: "40x40" %></P>
            <% end %>
          </div>
          <div><%= m.member.nick_name %>さん</div>
        </div>
      </div>
      <% end %>
    </div>
  <% end %>
</div>
