<div class="container p-3">
  <div class="row">
    <div class="col-12">
      <h3>メッセージルーム</h3>
      <% if @messages.blank? %>
        <h3 class="text-center">メッセージはまだありません</h3>
      <% else %>
        <div id="messages_<%= @room.id %>">
          <%= render "public/rooms/messages", messages: @messages %>
        </div>
      <% end %>
      <%= form_with model: @message, local: false do |f| %>
        <div class="row">
          <div class="col">
            <%= f.text_field :message, :placeholder => "メッセージを入力して下さい" , :size => 70 %>
          </div>
          <%= f.hidden_field :room_id, :value => @room.id %>
          <div class="col">
            <%= f.submit "送る", class: "btn btn-primary", remote: true, data: {"turbolinks" => false} %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>