<div class="container p-3">
  <div class="row">
    <div class="col-12">
      <h3>投稿検索</h3>
      <div class="row">
      <%= render 'search_bar' %>
        <div class="form-inline">
          <%= form_with url: searches_search_post_index_path, local: true, method: :get do |f| %>
            <%= f.text_field :word, class: "form-control mr-sm-2 search-form", placeholder: "投稿検索", id: nil %>
            <%= button_tag type: "submit", class: "btn text-secondary my-2 my-sm-0" do %>
              <i class="fas fa-search"></i>
            <% end %>
          <% end %>
        </div>
      </div>
      <div>
        <h4>タグ</h4>
        <div>
          <% @tag_list.each do |list|%>
            <i class="fa-sharp fa-solid fa-tag"></i>
            <%=link_to list.name,searches_search_tag_index_path(tag_id: list.id) %>
              <%="(#{list.post.where(display_status: true).count})" %>
            <% end %>
        </div>
      </div>
      <div>
        <div>
          <% if @posts.nil? %>
            <div>まだ投稿はありません</div>
          <% else %>
            <%= render 'public/shared/post_index', posts: @posts %>
          <% end %>
        </div>
      </div>


    </div>
  </div>
</div>
