<div class="container p-3">
  <div class="row">
    <div class="col-12">
      <h3>城検索</h3>
        <div class="row">
          <%= render 'search_bar' %>
          <div class="form-inline">
            <%= form_with url: searches_search_shiro_index_path, local: true, method: :get do |f| %>
              <%= f.text_field :word, class: "form-control mr-sm-2 search-form", placeholder: "城検索", id: nil %>
              <%= button_tag type: "submit", class: "btn text-secondary my-2 my-sm-0" do %>
                <i class="fas fa-search"></i>
 　    　       <% end %>
            <% end %>
          </div>
        </div>
        <% if @shiros.blank? %>
          <div>城情報はありません</div>
        <% else %>
          <%= render 'public/shared/shiro_index', shiros: @shiros %>
        <% end %>
    </div>
  </div>
</div>
