<% if member == current_member %>
    <h3>マイページ</h3>
<% else %>
    <h3><%= member.nick_name %>のページ</h3>
<% end %>

<div class="row bg-light members-profile">
  <div class="col-9">
    <div class="mt-2 ms-1">
      <% if member.icon_image.attached? %>
        <p><%= image_tag member.icon_image, class: "rounded-circle border border-secondary", size: "100x100" %></p>
      <% else %>
        <P><%= image_tag 'sengoku_busyou_shiki.png', class: "rounded-circle border border-secondary", size: "100x100" %></P>
      <% end %>
    </div>
    <div class="row">
      <div class="col-3">
        ニックネーム
      </div>
      <div class="col-9">
        <%= member.nick_name %>
      </div>
    </div>
    <div class="row">
      <div class="col-3">
        プロフィール
      </div>
      <div class="col-9">
        <%= member.profile %>
      </div>
    </div>
    <div>
      <div>
        <%= link_to follows_member_path(member) do %>
          フォロー<span id="follow_count"><%= member.followers.count %></span>
        <% end %>
      </div>
      <div>
        <%= link_to followers_member_path(member) do %>
          フォロワー<span id="follower_count"><%= member.followeds.count %></span>
        <% end %>
      </div>
    </div>
  </div>
  <div class="col-3 mt-3">
    <% if member == current_member %>
      <%= link_to edit_member_path(current_member.id) do %>
        <buttun class="btn btn-info">プロフィールを編集する</buttun>
      <% end %>
    <% else %>
    <div class="row mr-2">
      <%= render 'public/members/dm_btn', member: member, room: room, entry: entry %>
      <%= render 'public/members/follow_btn', member: member %>
    </div>

    <% end %>
  </div>
</div>