<div class="container p-3">
  <div class="row">
    <div class="col-12">
      <div>
        <%= form_with model: @member, "data-turbolinks": false do |f| %>
          <h3>プロフィール編集</h3>
          <div class="row mt-1">
            <div class="col-4">アイコン画像</div>
            <div class="col-6">
              <%= f.file_field :icon_image, accpet: "image/" %>
            </div>
          </div>
          <div class="row mt-1">
            <div class="col-4">ニックネーム</div>
            <div class="col-6">
              <%= f.text_field :nick_name, size: 30 %>
            </div>
          </div>
          <div class="row mt-1">
            <div class="col-4">プロフィール</div>
            <div class="col-6">
              <%= f.text_area :profile, size: "45x2" %>
            </div>
          </div>
          <div class="row mt-1">
            <div class="col-4"></div>
            <div class="col-4">
              <%= f.submit '変更を保存', class: "btn btn-primary"  %>
            </div>
            <div class="col-4">
              <%= link_to "退会する", members_confirm_quit_member_path, class: "btn btn-danger" %>
            </div>
          </div>

        <% end %>



    </div>
  </div>
</div>
