
<div class="container p-3">
  <div class="row">
    <div class="col-12">
      <h3>フォロー(<%= @members.count %>)</h3>

      <table class="table">
        <thead>
          <th>ニックネーム</th>
          <th>プロフィール</th>
          <th></th>
        </thead>
        <% if @members.blank? %>
          <div>まだフォロワーはいません</div>
        <% else %>
          <% @members.each do |member| %>
          <tbody>
            <td>
              <%= link_to member.nick_name, admin_member_path(member.id) %>
            </td>
            <td>
             <%= member.nick_name %>
            </td>
            <td>
              <% if current_member != member %>
                <% if current_member.following?(member) %>
                  <%= link_to "フォロー外す", member_relationships_path(member.id), method: :delete, class: "btn btn-danger" %>
                <% else %>
                  <%= link_to "フォローする", member_relationships_path(member.id), method: :post, class:"btn btn-success" %>
                <% end %>
              <% end %>
            </td>
          </tbody>
          <% end %>
        <% end %>
      </table>
    </div>
  </div>
</div>