<div class="container p-3">
  <div class="row">
    <div class="col-12">
      <h3><%= @member.nick_name %>のページ</h3>
      <div>
        <%= render 'public/members/members_profile', member: @member %>
      </div>
      <div>
        <%= render 'members_bar', member: @member %>
      </div>
      <div>
        <% if @posts.blank? %>
          <div>まだ投稿はありません</div>
        <% else %>
          <%= render 'public/shared/post_index', posts: @posts %>
        <% end %>
      </div>
      <div>
        <%= render 'public/shared/new_post_btn' %>
      </div>
    </div>
  </div>
</div>
