<div class="container p-3">
  <div class="row">
    <div class="col-12">
      <%= form_with model: @post, url: admin_post_path(@post.id), "data-turbolinks": false do |f| %>
        <h3>コメントの編集</h3>
        <div>
          <% if @post.images.attached? %>
            <% @post.images.each do |image| %>
              <%= image_tag image, class: "object-fit-cover", size: "200x200" %>
            <% end %>
          <% end %>
        </div>

        <div class="row mt-1">
          <div class="col-3">コメントID：</div>
          <div class="col-6">
            <%= @post.id %>
          </div>
        </div>
        <div class="row mt-1">
          <div class="col-3">投稿日時：</div>
          <div class="col-6">
            <%= @post.created_at.strftime('%Y/%m/%d %H/%M/%S') %>
          </div>
        </div>
        <div class="row mt-1">
          <div class="col-3">ニックネーム：</div>
          <div class="col-6">
            <%= @post.member.nick_name %>
          </div>
        </div>
        <div class="row mt-1">
          <div class="col-3">投稿文：</div>
          <div class="col-6">
            <%= f.text_area :post_text, size: "60x5" %>
          </div>
        </div>
        <div class="row mt-1">
          <div class="col-3">表示ステータス：</div>
          <div class="col-3">
            <%= f.radio_button :display_status, :true, checked: true %>
            <%= f.label :display_status, "表示" %>
            <%= f.radio_button :display_status, :false %>
            <%= f.label :display_status, "非表示" %>
          </div>
          <div class="col-3">
            <%= f.submit '変更を保存', class: "btn btn-success" %>
          </div>
        </div>
    <% end %>
    </div>
  </div>
</div>