<div class="container p-3">
  <div class="row">
    <div class="col-12">
      <h3>投稿詳細</h3>
      <div>
        <% if @post.images.attached? %>
          <% @post.images.each do |image| %>
            <%= image_tag image, class: "object-fit-cover", size: "200x200" %>
          <% end %>
        <% end %>
      </div>
      <div class="row">
        <div class="col-3">コメントID：</div>
        <div class="col-6"><%= @post.id %></div>
      </div>
      <div class="row mt-1">
        <div class="col-3">ニックネーム：</div>
        <div class="col-6">
          <%= link_to @post.member.nick_name, admin_member_path(@post.member) %>
        </div>
      </div>
      <div class="row mt-1">
        <div class="col-3">投稿文：</div>
        <div class="col-6">
          <%= @post.post_text %>
        </div>
      </div>
      <div class="row mt-1">
        <div class="col-3">投稿日時：</div>
        <div class="col-6">
          <%= @post.created_at.strftime('%Y/%m/%d %H/%M/%S') %>
        </div>
      </div>
      <div class="row mt-1">
        <div class="col-3">表示ステータス：</div>
        <div class="col-3">
          <% if @post.display_status == true %>
            <b class="text-success">表示</b>
          <% else %>
            <b class="text-secondary">非表示</b>
     　    <% end %>
        </div>
        <div class="col-3">
          <%= link_to edit_admin_post_path(@post.id) do %>
            <buttun class="btn btn-success">編集する</buttun>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>