<%= render 'admin/shared/header.html.erb' %>
<div class="container p-3">
  <div class="row">
    <div class="col-12">
      <h3>城一覧画面</h3>
      <div class="text-right mb-3">
        <%= link_to "+", new_admin_shiro_path, class: 'btn', style: 'background-color: #808080; color: white; mx-3; width:40px; height:40px;' %>
      </div>
      <% if @shiros.nil? %>
      
        <h4>まだ登録されていません</h4>
      <% else %>
        <% @shiros.each do |shiro| %>
        <div>
          <div>
            <%= image_tag shiro.image, size: "15x15" %>
          </div>
          <div>城名</div>
          <div>
            <%= link_to shiro.name, admin_shiro_path(shiro.id) %>
          </div>
          <div>城詳細</div>
          <div>
            <%= shiro.detail %>
          </div>
          <div>城マップ情報</div>
          <div>
            <%= shiro.shiro_map %>
          </div>

          <div class="row">
            <div class="col-md-3">表示ステータス</div>
              <div class="col-md-9">
                <% if shiro.display_status == true %>
                  <b class="text-success">表示</b>
                <% else %>
                  <b class="text-secondary">非表示</b>
        　       <% end %>
              </div>
          </div>

        </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>