<%= render 'public/shared/header.html.erb' %>
<div class="container p-3">
  <div class="row">
  <div class="col-12">
    <div>画像</div>
    <div>
      <%= image_tag @post.image, size: "200x200" %>
    </div>
    <div>コメント</div>
    <div>
      <%= @post.post_text %>
    </div>
    <div>
      <% @post_tags.each do |tag| %>
      <i class="fa-sharp fa-solid fa-tag"></i>
        <%= link_to tag.name,searches_search_tag_index_path(tag_id: tag.id) %>
      <% end %>
    </div>
    <div>
          <p><%#= image_tag post_comment.member.get_profile_image(100,100) %></p>
          <%= @post_comment.member.nick_name %>
          <%= @post_comment.created_at.strftime('%Y/%m/%d') %>
          <%= @post_comment.comment %>
    </div>
    <div>
      <%= link_to edit_post_comment_path(@post_comment.id) do %>
        <buttun class="btn btn-success">コメントを編集する</buttun>
      <% end %>
    </div>
  </div>
</div>
</div>
<%= render 'public/shared/footer.html.erb' %>