<div class="container p-3">
  <div class="row">
    <div class="col-12">
      <div class="row">
        <div class="col-3">投稿</div>
        <div class="col-6">
          <%= @post.post_text %>
        </div>
      </div>

      <%= form_with model: @post_comment, url: admin_post_comment_path do |f| %>
        <div class="col-3">
          <% if @post_comment.member.icon_image.attached? %>
            <p><%= image_tag @post_comment.member.icon_image, class: "rounded-circle border border-secondary", size: "50x50" %></p>
          <% else %>
            <P><%= image_tag 'sengoku_busyou_shiki.png', class: "rounded-circle border border-secondary", size: "50x50" %></P>
          <% end %>
        </div>
        <div class="row mt-1">
          <div class="col-3">コメント：</div>
          <div class="col-6">
            <%= f.text_area :comment, size: "60x5" %>
          </div>
        </div>

        <div class="row mt-1">
          <div class="col-3">表示ステータス：</div>
          <div class="col-3">
            <%= f.radio_button :display_status, :true, checked: true, class: "mt-2"  %>
            <%= f.label :display_status, "表示" %>
            <%= f.radio_button :display_status, :false %>
            <%= f.label :display_status, "非表示" %>
          </div>
          <div class="col-3">
            <%= f.submit '変更を保存', class: "btn btn-success" %>
          </div>

        </div>

      <% end %>
    </div>

  </div>
</div>
</div>