<%= render 'public/shared/header.html.erb' %>
<div class="container p-3">
  <div class="row">
  <div class="col-12">
    <div>
      <%= render 'public/members/members_profile', member: @member %>
    </div>
    <div>
      <%= render 'public/members/members_bar', member: @member %>
    </div>
    <div>
      <% if @my_maps.blank?%>
        <div>まだ訪れた城はありません</div>
      <% else %>
        <% @posts.each do |post| %>
        <div>
          <div>
            <%= image_tag post.image, size: "200x200" %>
          </div>
          <div>
            <%= post.post_text %>
          </div>
        </div>
        <% end %>
      <% end %>
    </div>
    <div>
      <% if params[:id] = current_member.id %>
        <%= link_to new_post_path do %>
          <buttun class="btn btn-success">新規投稿する</buttun>
        <% end %>
      <% end %>
    </div>

  </div>
</div>
</div>
<%= render 'public/shared/footer.html.erb' %>