<div class="container p-3">
  <div class="row">
    <div class="col-12">
        <div>

          <div>
            <%= image_tag @shiro.image, size: "200x200" %>
          </div>
          <div>城名</div>
          <div>
              <%= @shiro.name %>
          </div>
          <div>
            <div>マップ</div>
            <script type="text/javascript">
              function initMap() {
                var test = {lat: <%= @shiro.latitude %>, lng: <%= @shiro.longitude %>};
                var map = new google.maps.Map(document.getElementById('map'), {
                            zoom: 15,
                            center: test
                           });
                var transitLayer = new google.maps.TransitLayer();
                transitLayer.setMap(map);
                var contentString = '住所：<%= @shiro.address %>';
                var infowindow = new google.maps.InfoWindow({
                      content: contentString
                      });
                var marker = new google.maps.Marker({
                      position:test,
                      map: map,
                      title: contentString
                      });
                marker.addListener('click', function() {
                      infowindow.open(map, marker);
                      });
                    }
            </script>
            <script async defer
                    src="https://maps.googleapis.com/maps/api/js?v=3.exp&key=<%= ENV['GOOGLE_MAPS_API_KEY'] %>&callback=initMap">
            </script>
            <style type="text/css">
              #map { height: 200px;
                     width: 70%;}
            </style>
            <div id="map"></div>
          </div>

          <div>城詳細</div>
          <div>
            <%= @shiro.detail %>
          </div>
          <div>城住所情報</div>
          <div>
            <%= @shiro.address %>
          </div>
        </div>
        <div>
          <% if member_signed_in? %>
            <% if @shiro.shiro_favorited_by?(current_member) %>
              <%= link_to shiro_shiro_favorite_path(@shiro), method: :delete do %>
                <i class="fas fa-heart" aria-hidden="true" style="color: red;"></i>
                <%= @shiro.shiro_favorites.count %> 行きたい城を解除
              <% end %>
            <% else %>
              <%= link_to shiro_shiro_favorites_path(@shiro), method: :post do %>
                <i class="fas fa-heart" aria-hidden="true"></i>
                <%= @shiro.shiro_favorites.count %> 行きたい城に追加
              <% end %>
            <% end %>
          <% end %>
          </div>

    </div>
  </div>
</div>
