<div class="container p-3">
  <div class="row">
    <div class="col-12">
        <div>
          <div>
            <%= image_tag @shiro.image, size: "200x200" %>
          </div>
          <div>城名</div>
          <div>
            <%= @shiro.name %>
          </div>
          <div>城詳細</div>
          <div>
            <%= @shiro.detail %>
          </div>
          <div>城マップ情報</div>
          <div>
            <%= @shiro.shiro_map %>
          </div>
        </div>
        <div>
            <% if @shiro.shiro_favorited_by?(current_member) %>
              <%= link_to shiro_shiro_favorite_path(@shiro), method: :delete do %>
                <i class="fas fa-heart" aria-hidden="true" style="color: red;"></i>
                <%= @shiro.shiro_favorites.count %> 行きたい城を解除
              <% end %>
            <% else %>
              <%= link_to shiro_shiro_favorites_path(@shiro), method: :post do %>
                <i class="fas fa-heart" aria-hidden="true"></i>
                <%= @shiro.shiro_favorites.count %> 行きたい城に追加
              <% end %>
            <% end %>
          </div>

    </div>
  </div>
</div>
