<div class="container p-3">
  <div class="row">
    <div class="col-md-12">

<h3>会員ログイン</h3>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
    <div>ニックネーム</div>
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <div>パスワード（半角6文字以上）</div>
    <%= f.password_field :password, autocomplete: "current-password" %>
  </div>

  <% if devise_mapping.rememberable? %>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end %>
  <div class="actions">
    <%= f.submit "ログイン" %>
  </div>
<% end %>
<div>
  <%= link_to 'ゲストログイン（閲覧用）', members_guest_sign_in_path, method: :post %>
</div>
<div>
  <%= render "public/shared/links" %>
</div>

    </div>
  </div>
</div>

