<header class="container-fluid">
    <div class="row p-2">

    <div class="col-lg-2 offset-lg-1 col-md-2 offset-md-1 flex-for-until-md col-sm-2 offset-sm-2 col-6">

    </div>

    <% if admin_signed_in? %>
      <div class="flex-for-more-md col-lg-7 offset-lg-1 col-md-2 offset-md-7 col-sm-2 offset-sm-5 col-6">
        <div>
          <nav class="mb-2 float-right navbar navbar-expand-lg navbar-dark">
            <button class="navbar-toggler mt-3" type="button" data-toggle="collapse" data-target="#navbarDropdown" aria-controls="navbarDropdown" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarDropdown">
              <ul class="navbar-nav horizontal-for-more-than-md">
                <li class="nav-item"><%= link_to "城一覧", admin_shiros_path, class: "btn text-secondary mr-3" %></li>
                <li class="nav-item"><%= link_to "会員一覧", admin_members_path, class: "btn text-secondary mr-3" %></li>
                <li class="nav-item"><%= link_to "投稿一覧", admin_posts_path, class: "btn text-secondary mr-3" %></li>
                <li class="nav-item"><%= link_to "コメント一覧", admin_post_comments_path, class: "btn text-secondary mr-3" %></li>
                <li class="nav-item"><%= link_to "ログアウト", destroy_admin_session_path, method: :delete, class: "btn text-secondary mr-3, 'data-turbolinks': false" %></li>
              </ul>
            </div>
          </nav>
        </div>
      </div>
    <% elsif member_signed_in? %>
      <div class="flex-for-more-md col-lg-7 offset-lg-1 col-md-2 offset-md-7 col-sm-2 offset-sm-5 col-6">
        <div>
          <nav class="mb-2 float-right navbar navbar-expand-lg navbar-dark">
            <button class="navbar-toggler mt-3" type="button" data-toggle="collapse" data-target="#navbarDropdown" aria-controls="navbarDropdown" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarDropdown">
              <ul class="navbar-nav horizontal-for-more-than-md">
                <li class="nav-item"><%= link_to "トップページ", root_path, class: "btn text-secondary mr-3", id: "target" %></li>
                <li class="nav-item"><%= link_to "検索", search_path, class: "btn text-secondary mr-3" %></li>
                <li class="nav-item"><%= link_to "マイページ", mypage_path, class: "btn text-secondary mr-3" %></li>
                <li class="nav-item"><%= link_to "ログアウト", destroy_member_session_path, method: :delete, class: "btn text-secondary mr-3, 'data-turbolinks': false" %></li>
              </ul>
            </div>
          </nav>
        </div>
      </div>

    <% else %>
      <div class="flex-for-more-md col-lg-6 offset-lg-2 col-md-2 offset-md-7 col-sm-2 offset-sm-5 col-6">
        <div>
        <nav class="mb-2 float-right navbar navbar-expand-lg navbar-dark">
          <button class="navbar-toggler mt-3" type="button" data-toggle="collapse" data-target="#navbarDropdown" aria-controls="navbarDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarDropdown">
            <ul class="navbar-nav horizontal-for-more-than-md">
              <li class="nav-item"><%= link_to "トップページ", root_path, class: "btn text-secondary mr-3" %></li>
              <li class="nav-item"><%= link_to "Aboutページ", about_path, class: "btn text-secondary mr-3" %></li>
              <li class="nav-item"><%= link_to "検索", search_path, class: "btn text-secondary mr-3" %></li>
              <li class="nav-item"><%= link_to "新規登録", new_member_registration_path, class: "btn text-secondary mr-3", 'data-turbolinks': false %></li>
              <li class="nav-item"><%= link_to "ログイン", new_member_session_path, class: "btn text-secondary mr-3", 'data-turbolinks': false %></li>
            </ul>
          </div>
        </nav>
        </div>
      </div>
    <% end %>

</header>

<% unless flash[:notice].blank? %>
  <div class="text-center mt-2">
    <p><%= flash[:notice] %></p>
  </div>
<% end %>