<div>
  <div>マップ</div>
  <script type="text/javascript">
    function initMap() {
        var map = new google.maps.Map(document.getElementById('map'), {
                  zoom: 15,
                  center: new google.maps.LatLng(35.1848685, 136.89973)
                 });
        var transitLayer = new google.maps.TransitLayer();
            transitLayer.setMap(map);

        const test = [];
        const contentString = [];
        const marker = [];

        <% @shiros.each do |shiro| %>
            test[<%= shiro.id %>] = {lat: <%= shiro.latitude %>, lng: <%= shiro.longitude %>};
            contentString[<%= shiro.id %>] = '城名：<%= shiro.name %>';

            marker[<%= shiro.id %>] = new google.maps.Marker({
                    position: test[<%= shiro.id %>],
                    map: map,
                    title: contentString[<%= shiro.id %>],
                    });

            marker[<%= shiro.id %>].addListener('click', function() {
                    infowindow.open(map[<%= shiro.id %>], marker[<%= shiro.id %>]);
                    });
        <% end %>
                    }
  </script>
  <script async defer
    src="https://maps.googleapis.com/maps/api/js?v=3.exp&key=<%= ENV['GOOGLE_MAPS_API_KEY'] %>&callback=initMap">
  </script>
  <style type="text/css">
    #map {  height: 600px;
            width: 90%;}
  </style>
  <div id="map"></div>
</div>