<div>
  <div>マップ</div>
  <script type="text/javascript">
    function initMap() {
        var map = new google.maps.Map(document.getElementById('map'), {
                  zoom: 5,
                  center: new google.maps.LatLng(35.1848685, 136.89973)
                 });
        var transitLayer = new google.maps.TransitLayer();
            transitLayer.setMap(map);

        const test = [];
        const shiroName = [];
        const shiroDetail = [];
        const shiroShow = [];
        const contentString =[];
        const marker = [];
        const infowindow = [];

        <% shiros.each do |shiro| %>
            test[<%= shiro.id %>] = {lat: <%= shiro.latitude %>, lng: <%= shiro.longitude %>};
            shiroName[<%= shiro.id %>] = '<%= shiro.name %>';

            <% if admin_signed_in? %>
              shiroShow[<%= shiro.id %>] = '<%= link_to shiro.name, admin_shiro_path(shiro.id) %>';
            <% else %>
              shiroShow[<%= shiro.id %>] = '<%= link_to shiro.name, shiro_path(shiro.id) %>';
            <% end %>

            contentString[<%= shiro.id %>]  = '<% if shiro.images.attached? %>'
                                            + '<% shiro.images.each do |image| %>'
                                            + '<%= image_tag image, class: "object-fit-cover", size: "100x100" %>'
                                            + '<% end %>'
                                            + '<% end %>'
                                            + '<br>'
                                            + shiroShow[<%= shiro.id %>]
                                            + '<br>'
                                            + '<%= shiro.name %>'
                                            + '<%= shiro.detail %>'
                                            + '';

            marker[<%= shiro.id %>] = new google.maps.Marker({
                    position: test[<%= shiro.id %>],
                    map: map,
                    title: shiroName[<%= shiro.id %>],
                    });

            infowindow[<%= shiro.id %>] = new google.maps.InfoWindow({
                    content: contentString[<%= shiro.id %>],
                    ariaLabel: shiroName[<%= shiro.id %>],
                    });

            marker[<%= shiro.id %>].addListener('click', () => {
                    infowindow[<%= shiro.id %>].open({
                      anchor: marker[<%= shiro.id %>],
                      map,
                      });
                    });
        <% end %>
                    }
  </script>
  <script async defer
    src="https://maps.googleapis.com/maps/api/js?v=3.exp&key=<%= ENV['GOOGLE_MAPS_API_KEY'] %>&callback=initMap">
  </script>
  <style type="text/css">
    #map {  height: 600px;
            width: 100%;}
  </style>
  <div id="map"></div>
</div>