<!DOCTYPE html>
<html>
  <head>
    <title>ShiroMap</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width,initial-scale=1, maximum-scale=1">
    <script src="https://kit.fontawesome.com/<%= ENV['FONTAWESOME_API_KEY'] %>.js" crossorigin="anonymous"></script>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>
    <%= render '/layouts/header.html.erb' %>
    <%= yield %>
    <%= render '/layouts/footer.html.erb' %>
  </body>
</html>
